<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.8.3, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.8.3, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/burns-logo-copy-96x96.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>fashoin</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-tzlNmn9R6l" once="menu" id="menu2-m">
    <% include ./partials/nav %>
</section>

<section data-bs-version="5.1" class="header6 cid-tAabS2ezlO" id="header6-19">

    

    
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Fashoin</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-5">
                    Fashion 2.0: Unleashing the Transformative Potential of Technology
                </p>
                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features15 cid-tAabQYYrfr" id="features16-18">

    

    
    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2">
                            <strong>Our Investment Thesis</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Fashion has long been a powerful cultural force, reflecting societal values, personal expression, and identity. However, the integration of technology is fundamentally reshaping the fashion landscape. Burns Enterprise investigates the implications of the evolving relationship between fashion and technology, with a particular focus on Fashion 2.0.
                            <br><br>
                            Technological Innovations Reshaping Fashion:
                             <br>
                            Burns Enterprise delves into the technological innovations that are revolutionizing the fashion industry. It explores advancements in areas such as wearable technology, smart textiles, 3D printing, augmented reality (AR), and virtual reality (VR). These innovations not only enhance the functionality and aesthetics of garments but also enable novel forms of personalization, sustainability, and immersive experiences.</p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="/users/register">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/pexels-nappy-2920143-3-1160x1740.jpg" alt="Mobirise Website Builder">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section data-bs-version="5.1" class="clients2 cid-tzBbDDFVhv" id="clients2-c">

    

    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Fashion Portfolio</strong></h4><br><br>
            
        </div>
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="assets/images/11.svg" alt="Mobirise Website Builder">
                    </div>
                    <div class="card-box align-center">
                        
                        
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="assets/images/22.svg" alt="Mobirise Website Builder">
                    </div>
                    <div class="card-box align-center">
                        
                        
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="assets/images/33.svg" alt="Mobirise Website Builder">
                    </div>
                    <div class="card-box align-center">
                        
                        
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="assets/images/44.svg" alt="Mobirise Website Builder">
                    </div>
                    <div class="card-box align-center">
                        
                        
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="assets/images/55.svg" alt="Mobirise Website Builder">
                    </div>
                    <div class="card-box align-center">
                        
                        
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="assets/images/66.svg" alt="Mobirise Website Builder">
                    </div>
                    <div class="card-box align-center">
                        
                        
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="assets/images/77.svg" alt="Mobirise Website Builder">
                    </div>
                    <div class="card-box align-center">
                        
                        
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="assets/images/88.svg" alt="Mobirise Website Builder">
                    </div>
                    <div class="card-box align-center">
                        
                        
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="assets/images/99.svg" alt="Mobirise Website Builder">
                    </div>
                    <div class="card-box align-center">
                        
                        
                        
                        
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="assets/images/111.svg" alt="Mobirise Website Builder">
                    </div>
                    <div class="card-box align-center">
                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer1 cid-tzlO0OACC3" once="footers" id="footer1-4">
    <% include ./partials/footer %>
</section><section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: none;position: relative;height: 4rem;"><a href="https://mobiri.se/" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center;" class="display-7">Made with &#8204;</p><a style="z-index:1" href="https://mobirise.com/builder/landing-page-software.html">Landing Page Software</a></section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/parallax/jarallax.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  
<% include ./partials/chat %>

</body>
</html>