<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.8.3, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.8.3, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/burns-logo-copy-96x96.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>portfolio</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-tzlNmn9R6l" once="menu" id="menu2-9">
    
    <% include ./partials/nav %></section>

<section data-bs-version="5.1" class="header6 cid-tzB7J2Lp5d" id="header6-b">

    

    
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Our Portfolio</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-5">We are partnering and connecting business with necessities , Also rendering the best venture services around the world&nbsp;<br></p>
                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="tabs content18 cid-tA0CJO8qgm" id="tabs1-e">

    

    
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <h3 class="mbr-section-title mb-0 mbr-fonts-style display-2"><strong>Portfolio</strong></h3>
                
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-10">
                <ul class="nav nav-tabs mb-4" role="tablist">
                    <li class="nav-item first mbr-fonts-style">
                        <a class="nav-link mbr-fonts-style show  display-7" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tab1" aria-selected="true">
                            <strong>Fashion</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mbr-fonts-style display-7" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tab2" aria-selected="true">
                            <strong>Architecture</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mbr-fonts-style display-7" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tab3" aria-selected="true">
                            <strong>interior and automotive Designs</strong>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style  display-7" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tab4" aria-selected="true">
                            <strong>Luxury Automobile</strong>
                        </a></li>
                    <li class="nav-item">
                        <a class="nav-link mbr-fonts-style display-7" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tab5" aria-selected="true">
                            <strong>Art</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mbr-fonts-style display-7" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tab6" aria-selected="true">
                            <strong>Entertainment</strong>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane in active" role="tabpanel">
                        <div class="row justify-content-center">
                            <div class="card col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/11.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/66.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem; padding: 10px;">
                                        <img src="assets/images/55.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem; padding: 10px;">
                                        <img src="assets/images/88.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/99.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card  col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/22.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/111.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/77.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem; align-items: center; ">
                                        <img src="assets/images/33.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane" role="tabpanel">
                        <div class="row justify-content-center">
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/565.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/222.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/333.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/444.png" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/555.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab3" class="tab-pane" role="tabpanel">
                        <div class="row justify-content-center">
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/fv.png" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/rn.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/ce.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                              <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/lm.png" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/jc.png" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab4" class="tab-pane" role="tabpanel">
                        <div class="row justify-content-center">
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/tm.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/mb.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/audi.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/volvo.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div><br><br>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/bm.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 17rem;">
                                        <img src="assets/images/rolls-royce.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/pc.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/lexus.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div><br><br>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/aston-martin.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 13rem;">
                                        <img src="assets/images/lamborghini.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/bugatti.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/ferrari.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab5" class="tab-pane" role="tabpanel">
                        <div class="row justify-content-center">
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/d.png" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/dd.png" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/ddd.jpg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/dddd.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab6" class="tab-pane" role="tabpanel">
                        <div class="row justify-content-center">
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/netflix.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/ubisoft.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/blizzard.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="img-wrapper" style="width: 10rem ; height: 10rem;">
                                        <img src="assets/images/spotify.svg" alt="Mobirise Website Builder">
                                    </div>
                                    <div class="card-box align-center">
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section data-bs-version="5.1" class="footer1 cid-tzlO0OACC3" once="footers" id="footer1-4">
    <% include ./partials/footer %>
</section><section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: none;position: relative;height: 4rem;"><a href="https://mobiri.se/" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center;" class="display-7">Made with &#8204;</p><a style="z-index:1" href="https://mobirise.com/builder/landing-page-software.html">Landing Page Software</a></section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/parallax/jarallax.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  

<% include ./partials/chat %>
</body>
</html>